---
// import Button from "../components/button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="src/style/main.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
  </head>
  <body>
    
    <section>
      <h1 class="banner">15% rabat til de 50 første par/BFF's</h1>
      <!-- <img src="" alt="" /> her skal splashbillede være!
      <Button size="small" /> -->
    </section>
    <main>

    <section class="testimony_container">
      <div id="grid1">
        <div class="text_middle"><h1>Det siger vores gaester</h1></div>
        <div class="rating">
          <div class="rating_img"><img src="pics/ratings.webp" alt="ratings" /></div>
          <div class="pull_up">
            <p>Google</p>
            <p>Tripadvisor</p>
            <p>Trustpilot</p>
          </div>
        </div>
      </div>
      <div id="grid2">
        <div>
          <h2>testimony 1</h2>
        </div>
        <div>
          <h2> testimony 2 </h2>
        </div>
      </div>
    </section>

    <section class="info_container">
      <h1>Fa en skraek i livet</h1>
      <div class="grid3">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KMMCJ9QwsJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="tekst">
          <p>Vores nyeste escape room byder på uhygge, <br /> udfordringer og romantik. Som et af de få escape rooms <br /> i Danmark der egner sig højest tre personer, tilbyder <br /> "The Royal Playroom" nu en særlig valentins oplvelse til <br /> dig og din bedre halvdel. Så er du vild med royale <br /> mysterier og at komme nærmere på din partner eller <br /> bedste ven, så skynd dig at booke tid og få den mest <br /> hårrejsende date nogensinde.</p>
        </div>
        <!--<Button size="small" /> -->
      </div>
      <div class="some_icons">
        <a href="https://www.facebook.com/royalescapescph"><img src="pics/facebook.webp" alt="facebook" height="35" width="35" /></a>
        <a href="https://www.instagram.com/royalescapescph"> <img src="pics/instagram.webp" alt="instagram" height="35" width="35" /></a>
      </div>
    </section>
  </main>

    <footer>
      <div class="icons">
        <a href="mailto: info@royalescapes.dk"><img src="pics/mail.webp" alt="mail" /><p>info@royalescapes.dk</p></a>
        <a id="location" href="https://goo.gl/maps/YmSemKJz9E2sWFZb6"><img src="pics/location.webp" alt="location" /><p>Royal Escapes, København K, Fredericiagade 30, <br /> 1310 København, Denmark</p></a>
        <div class="pull_down"><a href="https://www.royalescapes.dk"><img src="pics/website.webp" alt="website" /><p>https://www.royalescapes.dk</p></a></div>
      </div>
      <img class="logo" src="pics/royal_escape.webp" alt="logo" />
    </footer>
  </body>
</html>
