@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}
body {
  background-color: #ffebe9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "Wednesday";
  font-style: normal;
  font-weight: normal;
  src: local("Wednesday.woff"), url("Wednesday.woff") format("woff");
}

/*  */

h1 {
  font-family: "Wednesday";
  text-align: center;
}
p {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.banner {
  background-color: #f47474;
  padding: 10px;
  display: flex;
  align-items: end;
}

/* overall ratings */
.rating_flex {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.rating {
  display: flex;
}
.text_middle {
  text-align: center;
  margin-right: 10px;
}
.rating_img {
  width: 100px;
}
.pull_up {
  margin-top: -7px;
  margin-left: 10px;
  text-align: left;
}

/* youtube + info */
.some_icons {
  width: 50px;
  display: flex;
  gap: 10px;
  margin: auto;
}
#grid1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* footer */
footer {
  background-color: #f47474;
}
.icons img {
  width: 45px;
}
#location {
  height: 45px;
}
footer a {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
footer a p {
  margin-left: 5px;
}
.logo {
  width: 400px;
  margin-left: 15px;
}
/* .pull_down {
  margin-top: 2px;
} */

/* @media (min-width: 850px) {
  h1 br {
    display: none;
  }
} */
