---
---

<button>Book Nu</button>

<style>
    button {
         font-family: "Wednesday";
            text-align: center;
            background-color: #BB2027;
            color: white;
            padding: 10px;
            border-radius: 5px ;
    }

</style>