---
---

<a href="https://www.royalescapes.dk/dk/escape-rooms/booking" target="_blank"><button>Book Nu</button></a>

<style>
    button {
        font-family: "Wednesday";
text-align: center;
  background-color: #f47474;
background-color: ;
color: white;
padding: 9px;
border-radius: 20px;
padding-left: 20px;
padding-right: 20px;
 border: none;
  outline: none;
  box-shadow: none;
  transition: transform 0.1s ease-in-out;
  font-size: 2em;
    }
button:hover {
  transform: scale(1.1);
}
@media (min-width: 750px) {
button {
    font-size: 2em; 
}
}
</style>