---
---

<button>Book Nu</button>

<style>
    button {
        font-family: "Wednesday";
text-align: center;
background-color: #BB2027;
color: white;
padding: 7px;
  padding-left: 10px;
border-radius: 17px;
padding-left: 15px;
padding-right: 15px;
 border: none;
  outline: none;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
    }

button:hover {
  transform: scale(1.2);
}

</style>