---
const { testimony } = Astro.props;
const { name } = Astro.props;
const { description } = Astro.props
const { karakter } = Astro.props ;
console.log(testimony);
console.log(name);
console.log(description);
---

  <div class="testimony">
    <img src="pics/hjerter.svg" alt="">
    <div class="text">
      <p>{description}</p>
      <h3 class="testname">{name}</h3>
    </div>
  </div> 
<style>

.text {
  white-space: normal;
}
.testimony {
    width: 350px;
    height: 300px;
    border-radius: 25px;
    margin-inline: 4px;
    display: inline-block;
}
h3, p {
    margin: 10px 0 10px 0;
}

h3 {
  font-family: "Wednesday";
}
p {
  font-family: "Open Sans", sans-serif;
}

</style>